<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fursat.az</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/Fursat.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <script src="https://kit.fontawesome.com/a5a64ef4c6.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

    <header id="Header" style="background:transparent !important">
        <div class="container-fluid">
            <div class="row align-items-center">


                <div class="col-lg-8 col-sm-6 col-7">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="mainnav d-flex">
                            <button class="navbar-toggler mr-4" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="col-lg-5 pl-0">
                                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                                    <div class="logo ">
                                        <img class="img-fluid" src="fhoto/Fursat.jpg">
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav m-0 p-0 justify-content-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                <li class="nav-item dropdown mainDrop">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Supermarkets
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                            <input type="text" placeholder="Search.." id="myInput"
                                                   onkeyup="filterFunction()">
                                        </li>
                                        <li class="dropdown-item">
                                            <div class="row">
                                                <img src="fhoto/bravo.jpeg" class="img-fluid">
                                                <a class="nav-link" href="#">Bravo</a>
                                            </div>
                                        </li>

                                        <li class="dropdown-item">
                                            <div class="row">
                                                <img src="fhoto/rahat.png" class="img-fluid">
                                                <a class="nav-link" href="#">Rahat Market</a>
                                            </div>
                                        </li>
                                        <li class="dropdown-item">
                                            <div class="row">
                                                <img src="fhoto/oba.jpg" class="img-fluid">
                                                <a class="nav-link" href="#">Oba</a>
                                            </div>
                                        </li>
                                        <li class="dropdown-item">
                                            <div class="row">
                                                <img src="fhoto/al.jpg" class="img-fluid">
                                                <a class="nav-link" href="#">Al Market</a>
                                            </div>
                                        </li>
                                        <li class="dropdown-item">
                                            <div class="row">
                                                <img src="fhoto/rahat.png" class="img-fluid">
                                                <a class="nav-link" href="https://www.neptun.az/">Neptun</a>
                                            </div>
                                        </li>
                                        <li class="dropdown-item">
                                            <div class="row">
                                                <img src="fhoto/araz.jpg" class="img-fluid">
                                                <a class="nav-link" href="https://www.neptun.az/">Araz</a>
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("About","Home")">Haqqimizda</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Contact","Home")">Elaqe</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-4 col-5 col-sm-5">
                    <ul class="p-0 m-0 d-flex justify-content-end">

                        <li class="nav-item pr-2"><i class="fas fa-user-circle mt-1" style="color: white; font-size: 20px;"></i><a href="Login.html"> Login</a></li>
                        <li class="nav-item pr-2">
                            <a href="#" target="_blank">
                                <i class="fab fa-facebook-f web" style="color: white; font-size: 20px;"></i>
                            </a>
                        </li>
                        <li class="nav-item pr-2">
                            <a href="#" target="_blank">
                                <i class="fab fa-instagram web" style="color: white;font-size: 23px;    "></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- <MARKET HEADER></MARKET> -->
    @RenderBody();
    <!--footer-->
    <footer>
        <div class="container mt-5">
            <h2 style="margin-bottom: 80px;">Etrafli</h2>
            <div class="row">
                <div class="col-md-4">

                    <p>Online alisveris</p>
                    <p>Supermarketlerde endirim</p>
                    <p>Haqqimizda</p>
                    <p>Elaqe</p>
                </div>


                <div class="col-md-4">
                    <div class="">
                        <h5>Yardim</h5>
                        <hr align="left" style="width:60%;background-color: black">
                        <div class="infos mt-4">
                            <p>FAQ</p>
                            <p>Catdirilma haqqinda></p>
                            <p>Market siyaseti</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="" >
                        <h5>Bizi izle</h5>
                        <hr align="left" style="width:60%;background-color: black">
                        <div class="footer-links mt-4 ">
                            <ul>
                                <li class="pb-3">
                                    <a href="#" target="_blank">
                                        <img src="Fhoto/fb.png" alt="">
                                        <span>Facebook</span>
                                    </a>
                                </li>
                                <li class="pb-3">
                                    <a href="#" target="_blank">
                                        <img src="Fhoto/insta2.png" alt="">
                                        <span>Instagram</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!--footer-->
</body>
</html>
